<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

<div class="auth-wrapper">
    <form method="POST" action="{% url 'forgot-password' %}" class="auth-form">
        {% csrf_token %}

        <p class="sub-heading">Reset your password</p>
        <h2>Forgot Password</h2>

        <input type="email" id="email" name="email" placeholder="Enter your registered email address" required>

        <button type="submit" class="primary-btn">Send Reset Link</button>

        {% if message %}
            <p class="success">{{ message }}</p>
        {% elif error %}
            <p class="error">{{ error }}</p>
    {% else %}
          <!-- normal form shown -->
        {% endif %}


        <p class="bottom-link">
            Remember your password? <a href="{% url 'login' %}">Login</a>
        </p>
    </form>
</div>

</body>
</html>
