# Python
*.pyc
__pycache__/

# Environment and secrets
.env
.env.*
*.env
secrets.json

# Python virtual environments
venv/
env/
oenv/

# SQLite database
*.sqlite3
db.sqlite3

# Static and media
/media/
/staticfiles/

# IDEs and OS-specific
.vscode/
.idea/
.DS_Store

# Misc
.settings/


private_key.pem
public_key.pem
